{% extends "base.html" %}
{% block content %}
<div class="form-box">
    <h2>Kontakt</h2>
    <form method="POST">
        <input type="text" name="name" placeholder="Twoje imię" required>
        <input type="email" name="email" placeholder="Twój email" required>
        <textarea name="message" placeholder="Twoja wiadomość" rows="4" style="width:90%; margin:10px 0; border-radius:6px;"></textarea>
        <button type="submit">Wyślij</button>
    </form>
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
</div>
{% endblock %}
